#app{
    width: 100%;
    margin: auto;
}

svg{
    width: 20px;
    height: 20px;
}

#paginationContainer > nav{
    display: flex;
    justify-content: space-between;
}

#paginationContainer > nav > div{
    width: 50%;
}

#paginationContainer > nav > div:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#paginationContainer > nav > div:nth-child(2) > div:first-child{
    order: 2;
    margin-top: 10px;
}

#datePopover{
    opacity: 0;
    transition: opacity .3s;
}

.alert-success{
    display: none;
}

.logo {
    max-width: 350px;
    max-height: 150px;
}

.create_edit_container {
    background-color: #DBEFFA;
}

.form_group_1 {
    flex-basis: 50%;
    padding: 0 7px;
}

.form_group_2 {
    flex-basis: 50%;
    padding: 0 7px;
}

.form_group_3 {
    flex-basis: 100%;
    padding: 0 7px;
}

.form_group_4 {
    flex-basis: 100%;
    padding: 0 7px;
}

.form_group_5 {
    flex-basis: 100%;
    padding: 0 7px;
}

.form_group_6 {
    flex-basis: 100%;
    padding: 0 7px;
}

.form_group_7 {
    flex-basis: 100%;
    padding: 0 7px;
}

#addRemoveEntryContainer > .btn-add{
    background-color: white;
    border: 2px solid #2da0e2;
    font-weight: bold;
    color: #2da0e2;
    padding: 7 0;
    border-radius: 7px;
    margin-right: 3px;
    width: 50px;
    transition: background .4s;
}

#addRemoveEntryContainer > .btn-add:hover{
    background-color: #adebf4;
}

#addRemoveEntryContainer > .btn-remove{
    background-color: white;
    border: 2px solid #db0000;
    font-weight: bold;
    color: #db0000;
    padding: 7 0;
    border-radius: 7px;
    width: 50px;
    transition: background .4s;
}

#addRemoveEntryContainer > .btn-remove:hover{
   background-color: #ffd8d8;
}

#addRemoveEntryContainer {
    margin: auto;
}

@media (min-width: 768px) {
    .form_group_1 {
        flex-basis: 25%;
       
    }
    .form_group_2 {
        flex-basis: 25%;
    }
    
    .form_group_3 {
        flex-basis: 50%;
    }
    
    .form_group_4 {
        flex-basis: 50%;
    }
    
    .form_group_5 {
        flex-basis: 50%;
    }
    
    .form_group_6 {
        flex-basis: 50%;
    }
    
    .form_group_7 {
        flex-basis: 100%;
    }
}

@media (min-width: 992px) {
    .form_group_1 {
        flex-basis: 15%;
       
    }
    .form_group_2 {
        flex-basis: 15%;
    }
    
    .form_group_3 {
        flex-basis: 15%;
    }
    
    .form_group_4 {
        flex-basis: 27%;
    }
    
    .form_group_5 {
        flex-basis: 27%;
    }
    
    .form_group_6 {
        flex-basis: 25%;
    }
    
    .form_group_7 {
        flex-basis: 40%;
    }
    
    #addRemoveEntryContainer {
        margin: initial;
        margin-left: auto;
        margin-right: 17px;
    }
    
}

.disabledd{
  /* Make the disabled links grayish*/
  color: gray !important;
  /* And disable the pointer events */
  pointer-events: none;

}

.validate_btns_container{
    width: 73px;
}

th {
    text-decoration: underline;
}

.validate_icon {
    font-size: 1.4em;
}

.general_button {
    background-color: white;
    border: 2px solid #2da0e2;
    font-weight: bold;
    color: #2da0e2;
    border-radius: 7px;
    margin-right: 3px;
    transition: background .4s;
    margin: 15px;
}

.general_button:hover{
    background-color: #d9f3f7;
    color: #2da0e2;
}

#datePopoverBtn {
    background-color: white;
    border: 2px solid #666666;
    font-weight: bold;
    color: #666666;
    border-radius: 7px;
    margin-right: 3px;
    transition: background .4s;
    margin: 15px;
}

#datePopoverBtn:hover{
    background-color: #e0e0e0;
    color: #606060;
}

#filterDiv {
    background-color: #f0f0f0;
    border: 1px solid #ccc
}

#filterTitleContainer {
    cursor: pointer;
    width: 95;
}

#filtersContainer {
    display: none;
}

#addEditContainer {
    display: none;
}

#addEditHeader {
    cursor: pointer;   
}

#addEditChevronDown, #filterChevronDown {
    transition: transform .6s ease-in-out;
}

table {
    border: 1px solid #e8e8e8;
}

table tr {
    border-top: 1px solid #e8e8e8 !important;
    transition: background-color 0.3s ease;
}

table tr:hover{
    background-color: #b7dff5;
}

table thead th {
    background-color: #fafafa;
    border-bottom: 1px solid #dee2e6 !important;
}

.bi-pencil-fill {
    cursor: pointer;
}

#numRecords {
    width: 80;
}

.form_group_new_edit {
    padding: 0 7px !important;
}

main {
    transition: all 0.5s ease-in-out;
}

nav:first-child > a:nth-child(2) {
    border-top: 1px solid #898989;
}

nav:first-child > a:last-child {
    border-bottom: 1px solid #898989;
}

.bi-arrow-bar-left, .bi-arrow-bar-right {
    font-size: 2em;
    margin-bottom: 7;
    cursor: pointer;
}

#showMenuBtnContainer {
    display: none;
}

#trashLogoIcon {
    font-size: 2.5em;
    cursor: pointer;
}

#statistics > div {
    padding: 20px 10px !important;
    background-color: #0f93de;
    border-left: 15px solid white;
    text-align: center;
    border-top: 15px solid white;
}

#statistics > div > span, #statistics > div > strong {
    text-transform: uppercase;
    color: white;
    line-height: 2.2;
}



/* JORDI */
/********************** HEADER **********************/
.bg-info {    background-color: #17a2b8 !important;    background: linear-gradient(to right, #007bff, #17a2b8);        background-color: rgba(0, 0, 0, 0); }
header a {    color: white;    float: left; text-decoration: underline;}
header .col-md-4.form-group {    float: right;}
.form-control.Langchange {    width: auto;        float: right;}
header li {    float: right;    list-style: none;}
header.py-2 {    margin-bottom: 0 !important;}

/********************** MENU ESQUERRE **********************/
#navAndContent a:hover {    background-color: #f0f0f0;}

/********************** COS **********************/
.pr-3, .px-3 {
    padding: 1rem !important;
}
.pb-2, .py-2 {
    padding: .5rem !important;
}


/********************** GENERAL **********************/
.row {
    margin-right: 0;
    margin-left: 0;
}

.col-12.col-md-10 {
    padding: 50px 15px !important;
}
.h2, h2 {
    font-size: 1.75rem;
    font-weight: 700;
}
.h3, h3 {
    font-size: 1.25rem;
    font-weight: 600;
}
.alert-info {
    background-color: skyblue;
}
#filterTitleContainer {
    margin-bottom: 0 !important;
}
#filterDiv.p-4 {
    padding: 1rem !important;
}
.create_edit_container {
    border: 1px solid deepskyblue;
}

#calculatePrice {
    color: #2da0e2;
}

#collapseExample{
    display: none;
}