#app{
    width: 95%;
    margin: auto;
}

svg{
    width: 20px;
    height: 20px;
}

#paginationContainer > nav{
    display: flex;
    justify-content: space-between;
}

#paginationContainer > nav > div{
    width: 50%;
}

#paginationContainer > nav > div:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#paginationContainer > nav > div:nth-child(2) > div:first-child{
    order: 2;
    margin-top: 10px;
}

#datePopover{
    opacity: 0;
    transition: opacity .3s;
}

.alert-success{
    display: none;
}

.logo {
    max-width: 350px;
    max-height: 150px;
}

#timeEntriesFormContainer {
    background-color: #DBEFFA;
}

.form_group_1 {
    flex-basis: 50%;
    padding: 0 7px;
}

.form_group_2 {
    flex-basis: 50%;
    padding: 0 7px;
}

.form_group_3 {
    flex-basis: 100%;
    padding: 0 7px;
}

.form_group_4 {
    flex-basis: 100%;
    padding: 0 7px;
}

.form_group_5 {
    flex-basis: 100%;
    padding: 0 7px;
}

.form_group_6 {
    flex-basis: 100%;
    padding: 0 7px;
}

.form_group_7 {
    flex-basis: 100%;
    padding: 0 7px;
}

#addRemoveEntryContainer > .btn-add{
    background-color: white;
    border: 2px solid #2da0e2;
    font-weight: bold;
    color: #2da0e2;
    padding: 7 0;
    border-radius: 7px;
    margin-right: 3px;
    width: 50px;
    transition: background .4s;
}

#addRemoveEntryContainer > .btn-add:hover{
    background-color: #adebf4;
}

#addRemoveEntryContainer > .btn-remove{
    background-color: white;
    border: 2px solid #db0000;
    font-weight: bold;
    color: #db0000;
    padding: 7 0;
    border-radius: 7px;
    width: 50px;
    transition: background .4s;
}

#addRemoveEntryContainer > .btn-remove:hover{
   background-color: #ffd8d8;
}

#addRemoveEntryContainer {
    margin: auto;
}

@media (min-width: 768px) {
    .form_group_1 {
        flex-basis: 25%;
       
    }
    .form_group_2 {
        flex-basis: 25%;
    }
    
    .form_group_3 {
        flex-basis: 50%;
    }
    
    .form_group_4 {
        flex-basis: 50%;
    }
    
    .form_group_5 {
        flex-basis: 50%;
    }
    
    .form_group_6 {
        flex-basis: 50%;
    }
    
    .form_group_7 {
        flex-basis: 100%;
    }
}

@media (min-width: 992px) {
    .form_group_1 {
        flex-basis: 15%;
       
    }
    .form_group_2 {
        flex-basis: 15%;
    }
    
    .form_group_3 {
        flex-basis: 15%;
    }
    
    .form_group_4 {
        flex-basis: 27%;
    }
    
    .form_group_5 {
        flex-basis: 27%;
    }
    
    .form_group_6 {
        flex-basis: 25%;
    }
    
    .form_group_7 {
        flex-basis: 40%;
    }
    
    #addRemoveEntryContainer {
        margin: initial;
        margin-left: auto;
        margin-right: 17px;
    }
    
}

.disabledd{
  /* Make the disabled links grayish*/
  color: gray !important;
  /* And disable the pointer events */
  pointer-events: none;

}

.validate_btns_container{
    width: 73px;
}

th {
    text-decoration: underline;
}

.validate_icon {
    font-size: 1.4em;
}

.general_button {
    background-color: white;
    border: 2px solid #2da0e2;
    font-weight: bold;
    color: #2da0e2;
    border-radius: 7px;
    margin-right: 3px;
    transition: background .4s;
    margin: 15px;
}

.general_button:hover{
    background-color: #d9f3f7;
    color: #2da0e2;
}

#filterDiv {
    background-color: #f0f0f0;
    border: 1px solid #ccc
}

#filterDiv div:first-child div:first-child {
    display: inline-block;
    cursor: pointer;
    width: 95;
}

.bi-chevron-down {
    transition: transform .6s ease-in-out;
}

#formGroupFilterName {
    width: 20% !important;
    margin-right: 25px;
}

#formGroupFilterCustomers {
    width: 20%;
    margin-right: 25px;
}

#formGroupFilterProjects {
    width: 20%;
    
}

table {
    border: 1px solid #e8e8e8;
}

table tr {
    border-top: 1px solid #e8e8e8 !important;
    transition: background-color 0.3s ease;
}

table tr:hover{
    background-color: #b7dff5;
}

table thead th {
    background-color: #fafafa;
    border-bottom: 1px solid #dee2e6 !important;
}

.bi-pencil-fill {
    cursor: pointer;
}